<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Comatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon4.png">
    @*<link rel="shortcut icon" type="image/x-icon" href="https://www.aztu.edu.az/web_admin/upload/files/aztu.edu.az/sitesettings/5-2022/favicon4.png">*@
    <title>AzTU - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <script defer src="~/assets/js/jquery.js"></script>
    <script defer src="~/assets/js/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <script defer src="~/assets/js/script.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
</head>

<body>
    <!-- HEADER  -->
    <header id="header" style="transition:0.5s all">
        @await Component.InvokeAsync("Navbar")
    </header>
    <!-- MAIN -->




    <main>
       
        @RenderBody()
       
    </main>
    <!-- FOOTER -->
    <footer>
        @await Component.InvokeAsync("Footer")
    </footer>
       <script>
      window.onscroll = () => {
        if (
          document.body.scrollTop > 80 ||
          document.documentElement.scrollTop > 120
        ) {
          //asagida
          document.getElementById("header").style.backgroundColor =
            "rgb(14, 32, 91)";
          document.getElementById("header").style.boxShadow =
            "0px 0px 10px 0px rgb(0, 0, 0)";
          //Logo
          document.getElementById("aztulogo").src = "/assets/img/ktk-little-logo.png";
          document.getElementById("aztulogo").style.width = "5.5rem";

          var signout = document.getElementById("signout");
          if (signout != null) {
            signout.style.fontSize = "14px";
            document.getElementById("username").style.fontSize = "14px";
            document.getElementById("usersurname").style.fontSize = "14px";
          } else {
            document.getElementById("login").classList.remove("login-top");
            document.getElementById("login").classList.add("login-bot");
            document.getElementById("login").style.display = "none";
            document.getElementById("login-logo").style.fontSize = "2rem";
          }
        } else {
          //yuxarida
          document.getElementById("header").style.backgroundColor =
            "transparent";
          document.getElementById("header").style.boxShadow = "none";
          //Logo
          document.getElementById("aztulogo").src = "/assets/img/ktk-big-logo.png";
          document.getElementById("aztulogo").style.width = "8rem";

          var signout = document.getElementById("signout");
          if (signout != null) {
            document.getElementById("username").style.fontSize = "12px";
            document.getElementById("usersurname").style.fontSize = "12px";
            document.getElementById("signout").style.fontSize = "12px";
          } else {
            document.getElementById("login").classList.add("login-top");
            document.getElementById("login").classList.remove("login-bot");
            document.getElementById("login").style.display = "block";
            document.getElementById("login-logo").style.fontSize = "1.5rem";
          }
        }
      };
    </script>
</body>

</html>


