@using Kafedra.Application.ViewModel.AnnouncementVM
@model Announcement

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>




<h1 class="mt-5 mx-5">Edit</h1>

<form method="post"  class ="m-5">
    
   
                            <p>Title</p>

                            <input asp-for="Title" required>
                      
        
            <p>Content</p>
                            <textarea asp-for="Content" typeof="text" type="text" required></textarea>
                        
                       
                            <button class="btn btn-dark" type="submit" >Edit</button>
                       
</form>