
@{
    Layout = null;
}
        <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="footer-uni-logo">
                <img src="~/assets/img/aztu-big-logo.png" alt="aztulogo" />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="footer-top-middle">
                <div class="footer-social">
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  <a href="#"><i class="fa-brands fa-youtube"></i></a>
                  <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                  <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </div>
                <div class="footer-adress">
                  <p>
                    H.Cavid prospekti 25, Bakı, Azərbaycan AZ 1073 Azərbaycan
                    Texniki Universiteti.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="footer-connect">
                <p>Tel: (+994 12) 538-33-83</p>
                <p>Qaynar xətt: (+994 12) 539-13-05</p>
                <p>E-poçt: aztu@aztu.edu.az</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="footer-copyright">
            <p>
              Copyright Ⓒ 2022 Azərbaycan Texniki Universiteti. Bütün Hüquqlar
              Qorunur.
            </p>
          </div>
        </div>
      </div>
