
@{
    ViewData["Title"] = "Müəllim";
}

 <!-- <div class="page-head">
        <img src="./img/default-cover.jpg" alt="Image de naruto usada de fondo">
        <p>Müəllimlər</p>
    </div> -->
    <div class="profile-page">
        <div class="profile-head">
            <div class="container">
                <!-- <div class="profile-head-photo">
                    <img src="https://executivespeakers.com//images/speakerimages/2020149133155TIM-8373M-2x2-1.jpg"
                        alt="">
                </div>
                <div class="profile-head-text">
                    <div class="profile-name">
                        <p>Müəllim Adı</p>
                    </div>
                    <div class="profile-position">
                        <p>Müəllim Vəzifəsi</p>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-lg-4 col-md-6 img-col">
                        <div class="profile-head-photo">
                            <img src="https://executivespeakers.com//images/speakerimages/2020149133155TIM-8373M-2x2-1.jpg"
                                alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-6">
                        <div class="profile-head-text">
                            <div class="profile-name">
                                <p>Müəllim Adı</p>
                            </div>
                            <div class="profile-position">
                                <p>Müəllim Vəzifəsi</p>
                            </div>
                            <div class="person-contacts">
                                <p><span>Nömrə:</span> +994503236052</p>
                                <p><span>Email:</span> someguy1967@gmail.com</p>
                                <p><span>Facebook:</span> <a href="#">Keçid</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-lg-4">
                        <div class="profile-head-photo">
                            <img src="https://executivespeakers.com//images/speakerimages/2020149133155TIM-8373M-2x2-1.jpg"
                                alt="">
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="profile-head-text">
                            <div class="profile-name">
                                <p>Müəllim Adı</p>
                            </div>
                            <div class="profile-position">
                                <p>Müəllim Vəzifəsi</p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="profile-body">
            <div class="person-about">
                <div class="container">
                    <div class="profile-section">
                        <div class="profile-section-head">
                            <p>İlkin məlumatlar</p>
                        </div>
                        <div class="profile-section-body">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit perferendis fugiat
                                mollitia labore ducimus accusamus nulla autem incidunt voluptas quo temporibus itaque
                                nostrum, exercitationem neque sequi rem porro? Doloribus, ea obcaecati nesciunt aut eius
                                harum architecto fuga explicabo, dolores rerum nostrum similique? Aliquid, labore
                                accusantium. Nostrum quos accusamus fugiat iure iusto a excepturi dolores ipsum autem
                                provident velit est, tempora asperiores eaque fuga voluptatem accusantium libero odio
                                error, perspiciatis, illo vel enim. Odio exercitationem, necessitatibus dicta asperiores
                                praesentium quisquam facilis culpa temporibus, nisi ratione animi eum labore illum
                                aspernatur a sit quod quia! Voluptatem officia labore vitae nesciunt minus itaque!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work-activity">
                <div class="container">
                    <div class="profile-section">
                        <div class="profile-section-head">
                            <p>İş fəaliyyəti</p>
                        </div>
                        <div class="profile-section-body">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit perferendis fugiat
                                mollitia labore ducimus accusamus nulla autem incidunt voluptas quo temporibus itaque
                                nostrum, exercitationem neque sequi rem porro? Doloribus, ea obcaecati nesciunt aut eius
                                harum architecto fuga explicabo, dolores rerum nostrum similique? Aliquid, labore
                                accusantium. Nostrum quos accusamus fugiat iure iusto a excepturi dolores ipsum autem
                                provident velit est, tempora asperiores eaque fuga voluptatem accusantium libero odio
                                error, perspiciatis, illo vel enim. Odio exercitationem, necessitatibus dicta asperiores
                                praesentium quisquam facilis culpa temporibus, nisi ratione animi eum labore illum
                                aspernatur a sit quod quia! Voluptatem officia labore vitae nesciunt minus itaque!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scientific-activity">
                <div class="container">
                    <div class="profile-section">
                        <div class="profile-section-head">
                            <p>Elmi fəaliyyəti</p>
                        </div>
                        <div class="profile-section-body">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit perferendis fugiat
                                mollitia labore ducimus accusamus nulla autem incidunt voluptas quo temporibus itaque
                                nostrum, exercitationem neque sequi rem porro? Doloribus, ea obcaecati nesciunt aut eius
                                harum architecto fuga explicabo, dolores rerum nostrum similique? Aliquid, labore
                                accusantium. Nostrum quos accusamus fugiat iure iusto a excepturi dolores ipsum autem
                                provident velit est, tempora asperiores eaque fuga voluptatem accusantium libero odio
                                error, perspiciatis, illo vel enim. Odio exercitationem, necessitatibus dicta asperiores
                                praesentium quisquam facilis culpa temporibus, nisi ratione animi eum labore illum
                                aspernatur a sit quod quia! Voluptatem officia labore vitae nesciunt minus itaque!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pedagogical-activity">
                <div class="container">
                    <div class="profile-section">
                        <div class="profile-section-head">
                            <p>Pedoqoji fəaliyyəti</p>
                        </div>
                        <div class="profile-section-body">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit perferendis fugiat
                                mollitia labore ducimus accusamus nulla autem incidunt voluptas quo temporibus itaque
                                nostrum, exercitationem neque sequi rem porro? Doloribus, ea obcaecati nesciunt aut eius
                                harum architecto fuga explicabo, dolores rerum nostrum similique? Aliquid, labore
                                accusantium. Nostrum quos accusamus fugiat iure iusto a excepturi dolores ipsum autem
                                provident velit est, tempora asperiores eaque fuga voluptatem accusantium libero odio
                                error, perspiciatis, illo vel enim. Odio exercitationem, necessitatibus dicta asperiores
                                praesentium quisquam facilis culpa temporibus, nisi ratione animi eum labore illum
                                aspernatur a sit quod quia! Voluptatem officia labore vitae nesciunt minus itaque!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="person-scientific-works"></div>
        </div>
    </div>

