
@{
    ViewData["Title"] = "Dissertasiya";
}

<section class="dissertation-page mt-5">
       <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-3">
                <div class="card">
                    <h1>Lorem ipsum dolor sit. <a class="indir-link-btn"><i class="fa-solid fa-download"></i> <span class="badge bg-light">Yüklə</span></a></h1>
                </div>
                <p class="dissertation-desc mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque assumenda ducimus distinctio doloremque totam, dolorem eligendi! Eum pariatur magnam quos voluptate aliquam, molestiae repudiandae cumque suscipit ipsum amet voluptatem itaque nostrum iure accusamus nulla corporis! Deleniti similique dolorum aperiam, explicabo vel porro non vitae sint ullam eius beatae blanditiis, nulla obcaecati neque! Nostrum vitae suscipit consequatur consequuntur sequi? Ea possimus, quo distinctio totam corporis quos magni praesentium soluta neque facere, voluptatum similique dolor dolorem expedita, cupiditate tempore ex vero ratione blanditiis iure id? Molestiae aperiam expedita possimus quas animi qui eaque labore totam pariatur praesentium? Odit corporis molestias dolor recusandae quia, officia labore ducimus modi provident minima facilis necessitatibus a, nulla, sapiente quasi ipsam! Facilis iure reiciendis dolore quam vel architecto repellendus repudiandae accusantium quo sit cumque porro atque, veritatis ea! Quibusdam animi consequuntur, odio quaerat exercitationem facere excepturi asperiores accusantium culpa unde cupiditate sequi eaque. Vero voluptate qui quia!</p>
            </div>
            <div class="col-lg-6 col-md-12">
                <ul class="dissertation-list">
                    <li class="item">
                        <strong>Rəhbər</strong>
                        <p>Vilayet Vəliyev</p>
                    </li>
                    <li class="item">
                        <strong>Müəllif</strong>
                        <p>Vilayet Vəliyev</p>
                    </li>                   
                    <li class="item">
                        <strong>Mövzu</strong>
                        <p>Instant Crush</p>
                    </li>
                    <li class="item">
                        <strong>İxtisas</strong>
                        <p>Instant Crush</p>
                    </li>
                    <li class="item">
                        <strong>Nəşr ili</strong>
                        <p>10.23.2022</p>
                    </li>
                    <li class="item">
                        <strong>Müdəfiə Tarixi</strong>
                        <p>20.20.2022</p>
                    </li>
                    <li class="item">
                        <strong>Aldığı qiymət</strong>
                        <p>20.20.2022</p>
                    </li>
                </ul>
            </div>
        </div>
       </div>
    </section>

