
@{
    ViewData["Title"] = "Haqqımızda";
}

<div class="page-head">
        <img src="~/assets/img/default-cover.jpg" alt="Image de naruto usada de fondo">
        <p>Kompüter Texnologiyaları</p>
    </div>


    <section class="about-text-section mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Azərbaycan Texniki Universitetinin (AzTU) (əvvəl Azərbaycan Politexnik İnstitutu) ilk
                        kafedralarından olan Ali riyaziyyat kafedrası 1950-ci ildə fəaliyyətə başlayıb.</p>
                    <p>1976-cı ildə professor Kərim Abdulxaliq oğlu Kərimovun təşəbbüsü ilə Tətbiqi və hesablama
                        riyaziyyatı kafedrası yaradılıb. Sonra bu kafedra Tətbiqi riyaziyyat adlandırılıb. Daha sonra
                        kafedra Riyaziyyat-2 adı altında fəaliyyətə başlayıb.</p>
                    <p>2001-ci ildə Riyaziyyat-1 və Riyaziyyat-2 kafedraları birləşdirilərək Riyaziyyat kafedrası
                        adlandırılıb. 2019-cu ildə kafedranın adı yenidən dəyişilərək Mühəndis riyaziyyatı kafedrası
                        adlandırılıb.</p>
                    <p>2021-ci ildə universitetdə struktur dəyişikliyi ilə əlaqədar olaraq İnformasiya texnologiyaları
                        və proqramlaşdırma və Mühəndis riyaziyyatı kafedraları birləşdirilərək onların bazasında
                        Mühəndis riyaziyyatı və süni intellekt kafedrası yaradılıb.</p>
                    <p>Hazırda kafedrada 3 ixtisas üzrə bakalavr səviyyəsində, 3 ixtisas üzrə isə magistratura
                        səviyyəsində (10 ixtisaslaşma) kadr hazırlanır.</p>
                    <p>
                        <strong>Kafedranın elmi istiqamətləri:</strong>
                    </p>

                    <p>
                        Kafedrada elmi tədqiqat işləri əsasən aşağıdakı istiqamətlərdə yerinə yetirilir:
                    </p>

                    <p>• İnformasiyanın məhdudluğu şəraitində texniki sistemlərin idarə edilməsi metod və
                        alqoritmlərinin işlənməsi;</p>
                    <p>• Korporativ informasiya sistemlərində və bulud (Cloud Computing) texnologiyalarıdan istifadədə
                        təhlükəsizliyinin təmin olunması metodlarının işlənməsi;</p>
                    <p>• Süni intellekt (Artificial Intelligence) və intellektual proqram (Software) məhsullarının
                        elmi-praktiki problemləri;</p>
                    <p>• Böyük verilənlər (Big Data) və Verilənlərin intellektual analizi (Data mining)
                        texnologiyalarının perspektivləri və işlənilməsi problemləri.</p>

                    <p>
                        <strong>
                            Kafedranin əməkdaşlığı:
                        </strong>
                    </p>

                    <p>• Azərbaycan Respublikasında fəaliyyət göstərən universitetlərin uyğun Kafedraları;</p>
                    <p>• AMEA institutları;</p>
                    <p>• Türkiyə Universitetləri;</p>
                    <p>• Rusiya Federasiyasının universitetləri.</p>

                </div>
            </div>
        </div>
    </section>

