@{
    ViewData["Title"] = "Heyətimiz";
}

<section class="our-team-section">
    <div class="page-head">
        <img src="~/assets/img/team cover.jpg" style="height: 24rem;" alt="" />
        <p>Kafedranın işçi heyyəti </p>
    </div>
    <div class="container my-5">

        <div class="row">
           
        </div>
        <div class="row">
            <a asp-controller="Teacher" asp-action="Index">
                <div class="col-lg-3 col-md-6 col-sm-6 my-3">
                    <div class="our-team">
                        <div class="pic">
                            <img src="~/assets/img/azturektor.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Vilayet Veliyev</h3>
                            <span class="post">Rektor</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" target="_blank" class="fa-brands fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fa-brands fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fa-brands fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fa-brands fa-linkedin"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 my-3">
                    <div class="our-team">
                        <div class="pic">
                            <img src="~/assets/img/azturektor.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Vilayet Veliyev</h3>
                            <span class="post">Rektor</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" target="_blank" class="fa-brands fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fa-brands fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fa-brands fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fa-brands fa-linkedin"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 my-3">
                    <div class="our-team">
                        <div class="pic">
                            <img src="~/assets/img/azturektor.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Vilayet Veliyev</h3>
                            <span class="post">Rektor</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" target="_blank" class="fa-brands fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fa-brands fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fa-brands fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fa-brands fa-linkedin"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 my-3">
                    <div class="our-team">
                        <div class="pic">
                            <img src="~/assets/img/azturektor.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Vilayet Veliyev</h3>
                            <span class="post">Rektor</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" target="_blank" class="fa-brands fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fa-brands fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fa-brands fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fa-brands fa-linkedin"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>

            
        </div>
    </div>

</section>

